{% extends "tienda/base.html" %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<h1>Pedidos</h1>
<p><a href="{% url 'tienda:crear_pedido_items' %}" class="btn">Nuevo pedido</a></p>
<ul>
    {% for ped in pedidos %}
    <li>
        <a href="{% url 'tienda:detalle_pedido' ped.pk %}">
            Pedido {{ ped.id }}
        </a>
         - 
        <a href="{% url 'tienda:detalle_cliente' ped.cliente.pk %}">
            Cliente: {{ ped.cliente.nombre }}
        </a>
        - Estado: {{ ped.estado }}
        - Fecha: {{ ped.fecha|date:"d/m/Y" }}
        - Productos: {{ ped.productos.count }}
        - Total: ${{ ped.total_precio|default:"0.0" }}
    </li>
    {% empty %}
    <li>No hay pedidos registrados.</li>
    {% endfor %}
</ul>
{% endblock %}